{% extends 'core/base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}
    {% url 'change_password' as change_password_url %}
    {% with form_action=change_password_url submit_button_text="Change Password" show_remember_me=False %}
        {% include 'core/form.html' with form_action=form_action submit_button_text=submit_button_text show_remember_me=show_remember_me %}
    {% endwith %}
{% endblock content %}

{% block extra_links %}
    <a href="{% url 'profile' username=username %}">Profile</a>
{% endblock extra_links %}